/* body {
    background-color: rgb(247, 228, 250);
} */
/* body{
    height: 1000px;
    background: linear-gradient(
      141deg,
      pink 0%,
      rgb(244, 182, 239) 45%,
      #afc1ee 60%,
      #afeeee 100%
    );
}  */

*, html {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

nav {
  background-color: #ae8b6f;
  display: flex;
  justify-content: space-between;
  padding: 0rem 2rem;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

nav div img {
  width: 80px;
}

nav ul li a {
  text-decoration: #62adea;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: beige;
  font-weight: 600;
  padding: 8px 0;
  transition: all;
  transition-duration: 300ms;
  border-bottom: 1px solid rgba(0, 0, 0, 0.192);
}

nav ul li a:hover {
  color: rgba(245, 212, 147, 0.627);
  border-bottom: 1px solid black;
}

body {
  height: 100vh;
  background-color: rgb(241, 214, 182);
  height: 50%;
}

/* .section1 {
    background-color: rgb(241, 214, 182);
    height: 100%;
} */

/* .section2 {
    background: linear-gradient(
      141deg,
      pink 0%,
      rgb(244, 182, 239) 45%,
      #afc1ee 60%,
      #afeeee 100%);
    height: 100%;
} */


/* body {
    height: 3000px;
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  } */

h1 {
  color: rgb(15, 12, 0);
  text-align: center;
  font-family: 'Lucida Sans';
  font-size: 50px;
  /* border: 4px solid rgb(207, 176, 99);
  border-radius: 10px;
  border-style: inset; */
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-family: verdana;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-top: 1%;
}

.content form {
  margin-top: 1%;
  background: blanchedalmond;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
}

.content form input {
  flex: 1;
  border: none;
  border-radius: 6px;
  outline: none;
  padding: 12px 20px;
  font-size: 18px;
}

.content form button {
  padding: 12px 40px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: rgb(186, 155, 116);
  font-size: 18px;
}

.content form button:hover {
  background: rgb(232, 186, 126);
}

.galeri-button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: white;
  position: absolute;
  top: 70%;
  left: 35%;
  text-align: center;
  transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  -webkit-border-radius: 8;
  border-radius: 8px;
  font-size: 20px;
  background: #174163;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.5s;
  border: none;
  cursor: pointer;
}

.galeri-button:hover {
  background: #266291;
  text-decoration: none;
  color: rgb(4, 13, 35);
}

.note-button {
  font-family: 'Hammersmith One', sans-serif;
  font-size: 20px;
  color: white;
  position: absolute;
  top: 70%;
  left: 60%;
  text-align: center;
  transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  -webkit-border-radius: 8;
  border-radius: 8px;
  font-size: 20px;
  background: #62adea;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
  border: none;
  cursor: pointer;
}
.note-button:hover {
  background: #3b80b4;
  text-decoration: none;
  color: rgb(15, 47, 128);
}

.arrow-down{
    width:60px;
    height:40px;
    margin:0 0 0 -30px;
    position:absolute;
    left:50%;
    bottom:0px;
    animation: arrow 0.5s 1s infinite ease-out alternate;
}

/* gerak waktu kena kursor */
.arrow-down:hover{
    animation-play-state: paused;
}

/* panah bagian kiri */
.left{
    position:absolute;
    height:10px;
    width:40px;
    background:black;
    transform: rotate(240deg);
    top:10px;
    left:10px;
    border-radius: 4px;
    transform-origin: 5px 50%;
    animation: leftArrow 0.5s 1s infinite ease-out alternate;
}

/* panah bagian kanan */
.right{ 
    position:absolute;
    height:10px;
    width:40px;
    background:rgb(169, 117, 117);
    transform: rotate(-60deg);
    top:10px;
    left:10px;
    border-radius: 4px;
    transform-origin: 5px 50%;
    animation: rightArrow 0.5s 1s infinite ease-out alternate;
}  
  
@keyframes arrow{
    0% {
      bottom:0px;
    }
    100%{
      bottom:40px;
    }
} 
  
@keyframes leftArrow{
    0% {
    }
    100%{
      -webkit-transform:rotate(225deg);
    }
}
  
@keyframes rightArrow{
    0% {
    }
    100%{
      -webkit-transform:rotate(-45deg);
    }
}
  

/* element.style {
    svg:not(:root) {
    overflow: hidden;
    }
}
div {
    position: relative;
    bottom: 10px;
    left: 10px;
    transform: translate(-12px, 0px);
    width: 10px;
    fill: #3b5bec;
    animation: scrollDown 1.6s infinite;
} */